.main_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.main-logo {
    width: 24rem;
    height: auto;
}

.button_start {
    display: none;
    width: 15rem;
    height: 3.75rem;
    margin: 0 auto;
    margin-bottom: 7rem;
    background: #F3EF7D;
    font-size: 1.5rem;
    border: orange solid 0.2rem;
    border-radius: 1rem;
    color:black;
}

@media only screen and (min-width: 500px) {
    .main-logo {
        margin: auto;
        width: 24rem;
        margin-top: 6rem;
    }
    
    .button_start {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 500px) {
    .main-logo {
        margin: 0 auto;
        width: 18rem;
        margin-top: 6rem;
    }

    .button_start {
        margin-bottom: 13rem;        
    }
}

@media only screen and (max-width: 400px) {
    .main-logo {
        margin: auto;
        width: 15rem;
        margin-top: 6rem;
    }

    .button_start {
        margin-bottom: 7rem;
    }
}

@media only screen and (max-width: 300px) {
    .main-logo {
        margin: auto;
        width: 12rem;
        margin-top: 8rem;
    }

    .button_start {
        margin-bottom: 10rem;
    }
}

.main-logo {
    width: 70%;
    margin: 0 auto;
    margin-top: 6rem; 
}
@media only screen and (min-width: 768px) {
    .main-logo {
        width: 40%;
    }
}