.main_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.main-logo {
    width: 24rem;
    height: auto;
    margin: 0 auto;
    margin-top: 4rem;
}

.button_start {
    width: 15rem;
    height: 3.75rem;
    /* margin: 7rem auto 0 auto; */
    margin: 0 auto;
    margin-bottom: 7rem;
    background: #F3EF7D;
    font-size: 1.5rem;
    border: orange solid 0.2rem;
    border-radius: 1rem;
    color:black;
}

@media only screen and (max-width: 500px) {
    .main-logo {
        width: 18rem;
    }
    
}
